services:
  db:
    image: postgres:18-alpine
    container_name: movies_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  bot:
    build: .
    container_name: movies_bot
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL} 
    restart: unless-stopped
    command: python -m bot.main
    volumes:
      - ./:/app

volumes:
  pgdata:
